{{! Use the snippet below to make buttons more accessible. You can use an aria-label="submit form" attribute to give a screen reader the literal purpose of the button if there is no text in it. If there is no <a href=""> then simply add the tabindex="0" to the div or span to make it focusable. }}
<a role="button" href="#" class="button">Default Button</a>
<a role="button" aria-label="submit form" href="#" class="button">Submit</a>
<div role="button" tabindex="0" class="button">Default Button</div>