<div class="row">
  <div class="columns small-12">
    {{> molecules-switch-item }}
  </div>
  <div class="columns small-12">
    {{> molecules-switch-item }}
  </div>
  <div class="columns small-12">
    {{> molecules-switch-item }}
  </div>
  <div class="columns small-12">
    {{> molecules-switch-item }}
  </div>
  <div class="columns small-12">
    {{> molecules-switch-item }}
  </div>
  <div class="columns small-12">
    {{> molecules-switch-item }}
  </div>
</div>