<div class="input-group">
  <input id="checkbox1" type="checkbox"><label for="checkbox1">Enable</label>
  <p>Disabled pages are not listed in any menu. This is useful if you are still making edits on the page.</p>
</div>