<div class="input-group">
  <h5>Page Title</h5>
  <label>This title is displayed on the top of the browser window.
    {{! Pattern below does not allow spaced. 
    Only relevant for URL field probably. }}
    <input type="text" placeholder="home" pattern="^[A-Za-z0-9]{1,25}$">
  </label>
</div>