<div class="row" data-equalizer="switch-item">
  <div class="column-first" data-equalizer-watch="switch-item">
    <span>Retirement <em class="posts-number">(22 posts)</em></span>
  </div>
  <div class="column-last" data-equalizer-watch="switch-item">{{> atoms-switch-custom }}</div>

</div>

