<div class="row article-selection">
  <div class="columns small-12">
    <div class="row">
      <div class="columns small-6">
        <label for="select" class="right  select2-label">Content</label>
      </div>
      <div class="columns small-18">
        <select class="select2-responsive" data-placeholder="Select Content Types" id="select" multiple="multiple">
          <optgroup label="View">
              <option>Articles</option>
              <option>Presentation</option>
              <option>Videos</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
  <div class="columns small-12">
    <div class="row">
      <div class="columns small-6">
        <label for="Topics" class="right  select2-label" >Topics</label>
      </div>
      <div class="columns small-18">
        <select class="select2-responsive" data-placeholder="Select Topics" id="Topics" multiple="multiple">
          <optgroup label="Select Tags">
            <option>Education</option>
            <option>Estate Planning</option>
            <option>Tax Planning</option>
            <option>FINRA Reviewed</option>
            <option>Finance</option>
          </optgroup>
          <optgroup label="Select alternate Tags">
            <option>Education</option>
            <option>Estate Planning</option>
            <option>Tax Planning</option>
            <option>FINRA Reviewed</option>
            <option>Finance</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
</div>