<div class="row article-selection">
  <div class="columns small-12">
    <div class="row">
      <div class="columns small-6">
        <label for="select" class="right  select2-label">Content</label>
      </div>
      <div class="columns small-18">
        <select class="select2-responsive select2" data-placeholder="Select Content Types" id="select" multiple="multiple">
          <optgroup label="View">
              <option value="Articles">Articles</option>
              <option value="Presentation">Presentation</option>
              <option value="Videos">Videos</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
  <div class="columns small-12">
    <div class="row">
      <div class="columns small-6">
        <label for="Topics" class="right  select2-label" >Topics</label>
      </div>
      <div class="columns small-18">
        <select class="select2-responsive  select2" data-placeholder="Select Topics" id="Topics" multiple="multiple">
          <optgroup label="Select Tags">
            <option value="Education">Education</option>
            <option value="Estate Planning">Estate Planning</option>
            <option value="Tax Planning">Tax Planning</option>
            <option value="FINRA Reviewed">FINRA Reviewed</option>
            <option value="Finance">Finance</option>
          </optgroup>
          <optgroup label="Select alternate Tags">
            <option value="Education">Education</option>
            <option value="Estate Planning">Estate Planning</option>
            <option value="Tax Planning">Tax Planning</option>
            <option value="FINRA Reviewed">FINRA Reviewed</option>
            <option value="Finance">Finance</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>
</div>