<div class="row" data-equalizer>
  <div class="small-4 columns form-label-container" data-equalizer-watch>
    <span class="">Add Tags <i class="fi-info" data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"></i></span>
  </div>
  <div class="small-8 columns end" data-equalizer-watch>
    <select class="select2-tags" multiple></select>
  </div>
</div>