[submodule "source/submodules/foundation"]
	path = source/submodules/foundation
	url = git@github.com:zurb/foundation.git
[submodule "source/submodules/animate-sass"]
	path = source/submodules/animate-sass
	url = https://github.com/tgdev/animate-sass.git
[submodule "source/submodules/foundation-icon-fonts"]
	path = source/submodules/foundation-icon-fonts
	url = https://github.com/zurb/foundation-icon-fonts.git
