<div class="page" id="page">
{{> molecules-aw-topbar }}
	<div class="main">
		{{> molecules-aw-sidebar }}
		<div role="content" class="content">
				
				{{> organisms-user-dashboard }}

		</div><!--End role=content-->
		
	</div>
</div>