<div class="page off-canvas-wrap" data-offcanvas id="page">
{{> molecules-aw-topbar }}
	<div class="main inner-wrap">
		{{> molecules-aw-sidebar }}
    {{> molecules-aw-offcanvas }}
		<div role="content" class="content aw-dashboard-main">
				
				{{> organisms-user-dashboard }}

		</div><!--End role=content-->
		
	</div>
</div>