<!-- You can change the float behavior of an element by adding .left or 
.right to an HTML element. To clear floats, add the class .clearfix to 
the parent element. -->

<div class="panel clearfix">
    <a class="button right">Float Right</a>
    <a class="button left">Float Left</a>
</div>