<!-- 
The .radius and .round classes allow you to easily apply a border-radius to a UI-
element. Adding the class to a button group will apply the border radius only 
to the outside corners.
-->

<div class="alert-box round" data-alert>Alert<a href="#" class="close">&times;</a></div>
<div class="alert-box radius" data-alert>Alert<a href="#" class="close">&times;</a></div>
<div class="progress radius">
  <span class="meter" style="width:70%;"></span>
</div>
<div class="progress round">
  <span class="meter" style="width:70%;"></span>
</div>
<a href="#" class="button round">Button</a>
<a href="#" class="button radius">Button</a>
<span class="label radius">Label</span>
<span class="label round">Label</span>
<span data-tooltip class="round" title="Tooltip">Tooltip</span>
<span data-tooltip class="radius" title="Tooltip">Tooltip</span>