<!--

You can change the text alignment of an element by adding 
.text-left, .text-right, .text-center or .text-justify to 
an element.

Adding a size to the front of a text alignment class will 
cause it to only be applied on that size screen or larger 
(ex. .medium-text-center will center text for everything 
except small screens). Adding a size and only will apply 
the text alignment just for that media query (ex. 
.medium-only-text-center will center text just for medium
 screens).

-->

<p class="text-left">{{ excerpt.medium}}</p>
<p class="text-right">{{ excerpt.medium}}</p>
<p class="text-center">{{ excerpt.medium}}</p>
<p class="text-justify">{{ excerpt.medium}}</p>

<h4>AVAILABLE TEXT ALIGNMENT CLASSES</h4>
<table style="width:100%;">
  <tbody><tr>
    <td><code>.text-left</code></td>
    <td><code>.text-right</code></td>
    <td><code>.text-center</code></td>
    <td><code>.text-justify</code></td>
  </tr>
  <tr>
    <td><code>.small-text-left</code></td>
    <td><code>.small-text-right</code></td>
    <td><code>.small-text-center</code></td>
    <td><code>.small-text-justify</code></td>
  </tr>
  <tr>
    <td><code>.small-only-text-left</code></td>
    <td><code>.small-only-text-right</code></td>
    <td><code>.small-only-text-center</code></td>
    <td><code>.small-only-text-justify</code></td>
  </tr>
  <tr>
    <td><code>.medium-text-left</code></td>
    <td><code>.medium-text-right</code></td>
    <td><code>.medium-text-center</code></td>
    <td><code>.medium-text-justify</code></td>
  </tr>
  <tr>
    <td><code>.medium-only-text-left</code></td>
    <td><code>.medium-only-text-right</code></td>
    <td><code>.medium-only-text-center</code></td>
    <td><code>.medium-only-text-justify</code></td>
  </tr>
  <tr>
    <td><code>.large-text-left</code></td>
    <td><code>.large-text-right</code></td>
    <td><code>.large-text-center</code></td>
    <td><code>.large-text-justify</code></td>
  </tr>
  <tr>
    <td><code>.large-only-text-left</code></td>
    <td><code>.large-only-text-right</code></td>
    <td><code>.large-only-text-center</code></td>
    <td><code>.large-only-text-justify</code></td>
  </tr>
  <tr>
    <td><code>.xlarge-text-left</code></td>
    <td><code>.xlarge-text-right</code></td>
    <td><code>.xlarge-text-center</code></td>
    <td><code>.xlarge-text-justify</code></td>
  </tr>
  <tr>
    <td><code>.xlarge-only-text-left</code></td>
    <td><code>.xlarge-only-text-right</code></td>
    <td><code>.xlarge-only-text-center</code></td>
    <td><code>.xlarge-only-text-justify</code></td>
  </tr>
  <tr>
    <td><code>.xxlarge-text-left</code></td>
    <td><code>.xxlarge-text-right</code></td>
    <td><code>.xxlarge-text-center</code></td>
    <td><code>.xxlarge-text-justify</code></td>
  </tr>
  </tbody><thead>
    <tr><td>Align Left</td>
    <td>Align Right</td>
    <td>Align Center</td>
    <td>Justify</td>
  </tr></thead>
</table>