<div data-magellan-expedition="fixed">
  <ul class="sub-nav">
    <li data-magellan-arrival="arrival"><a href="#arrival">Arrival</a></li>
    <li data-magellan-arrival="destination"><a href="#destination">Destination</a></li>
  </ul>
</div>
<div style="height: 50vh"></div>
<h3 data-magellan-destination="arrival">Arrival</h3>
<a name="arrival"></a>

<div style="height: 50vh"></div>

<h3 data-magellan-destination="destination">Destination</h3>
<a name="destination"></a>
<div style="height: 100vh"></div>