  <nav class="tab-bar hide-for-large-up">
    <section class="left-small">
      <a href="#" class="left-off-canvas-toggle menu-icon" aria-expanded="false"><span></span></a>
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">{{> atoms-logo }}</h1>
    </section>

  </nav>

  <aside class="left-off-canvas-menu hide-for-large-up">
    <ul class="off-canvas-list">
      <li><label>Advisor Websites</label></li>
      <li><a class="item item-dashboard" href="#"><i class="icon"></i> Dashboard</a></li>
      <li><a class="item item-content" href="#"><i class="icon"></i> Content</a></li>
      <li><a class="item item-blog" href="#"><i class="icon"></i> Blog</a></li>
      <li><a class="item item-content-library" href="#"><i class="icon"></i> Content Library</a></li>
      <li><a class="item item-design" href="#"><i class="icon"></i> Design</a></li>
      <li><a class="item item-statistics" href="#"><i class="icon"></i> Statistics</a></li>
      <li><a class="item item-apps" href="#"><i class="icon"></i> Apps</a></li>
    </ul>
  </aside>
  <a href="#" class="exit-off-canvas small-only"></a>