<div class="medium-vertical aw-sidebar seven-up">
  <a class="item item-dashboard">
    <i class="icon"></i>
    <label>Dashboard</label>
  </a>
  <a class="item item-content">
    <i class="icon"></i>
    <label>Content</label>
  </a>
  <a class="item item-blog">
    <i class="icon"></i>
    <label class="label-right">Blog</label>
  </a>
  <a class="item item-content-library">
    <i class="icon"></i>
    <label>Content Library</label>
  </a>
  <a class="item item-design">
    <i class="icon"></i>
    <label>Design</label>
  </a>
  <a class="item item-statistics">
    <i class="icon"></i>
    <label>Statistics</label>
  </a>
  <a class="item item-apps">
    <i class="icon"></i>
    <label>Apps</label>
  </a>
</div>