.top-bar-aw {
  .name {
    $topbar-link-padding: $topbar-link-padding / 2;
    width: $topbar-height;
    height: auto;
    h1 a {
      padding: 0 $topbar-link-padding;
      background-color: $primary-color;
    }
  }

}

@mixin top-bar-icon($iconClass) {
  @media #{$medium-up} {
    @extend #{$iconClass};
    position: relative;
    padding-right: $topbar-icon-font-size;
    &::before {
      display: block;
      height: 0;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -13px;
      font-size: $topbar-icon-font-size;
    }
  }
}

.icon-switch-accounts {
  @include top-bar-icon(".fi-die-six");
}

.icon-support {
  @include top-bar-icon(".fi-asl");
}

.img-logo {
  /* 
    Nudge the logo up. While it is technically vertically centered, 
    It's not quite optically centered withone this.
  */
  @media #{$medium-up} {
    margin-top: -3px;
  } 
}