@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,400italic,700);
@import "../submodules/animate-sass/animate";
$fi-path: "../submodules/foundation-icon-fonts/";

@import "../submodules/foundation-icon-fonts/foundation-icons";
@import "settings";
@import "../submodules/foundation/scss/foundation.scss";
@import "aw-bar";


$colors: (
  "white"           : $white,
  "ghost"           : $ghost,
  "snow"            : $snow,
  "vapor"           : $vapor,
  "white-smoke"     : $white-smoke,
  "silver"          : $silver,
  "smoke"           : $smoke,
  "gainsboro"       : $gainsboro,
  "iron"            : $iron,
  "base"            : $base,
  "aluminum"        : $aluminum,
  "jumbo"           : $jumbo,
  "monsoon"         : $monsoon,
  "steel"           : $steel,
  "charcoal"        : $charcoal,
  "tuatara"         : $tuatara,
  "oil"             : $oil,
  "jet"             : $jet,
  "black"           : $black,
  "primary-color"   : $primary-color,
  "secondary-color" : $secondary-color,
  "alert-color"     : $alert-color,
  "success-color"   : $success-color,
  "warning-color"   : $warning-color,
  "info-color"      : $info-color
);

@each $name, $color in $colors {
  .background-#{$name} {
    background: #{$color};
  }
}


// For displaying font names from the settings SASS pages
@mixin outputVarDef($var) {
  &:after {
    content: '#{$var}';
    display: inline-block;
  }
}

.font-primary {
  @include outputVarDef($font-family-sans-serif);
}
.font-secondary {
  @include outputVarDef($font-family-serif);
}
.demo {
  .row {
    > .columns, > .column {
      background: $iron;
      color: $aluminum;
      text-align: center;
      margin-bottom: 0.5em;
      padding: 1em !important;
      &:nth-of-type(2n) {
        color: $iron;
        background: $aluminum;
      }
    }
  }
}
    