<div id="modal-auto-publish" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="columns small-24">
      <h3 id="modalTitle">Automatic Publishing</h3>
    </div>
    <div class="columns small-24">
      <p>Automatic Publishing gives you the option of publishing new content to your website as they come out. Hit the switches to subscribe to each category and as new articles, presentations and videos are released, they will automatically be published. Those that require approval will have the content enter the approval process.</p>
    </div>

  </div>
  {{> atoms-calendar }}
  {{> molecules-subscribe-to }}
  <div class="text-right">
    <button class="button success small">Save Changes</button> <button class="button primary small close">Close</button>
  </div>
</div>