<div id="modal-page" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="columns small-24">
      <h3 id="modalTitle" class="modal-title">New Page</h3>
    </div>
    <div class="columns small-24">
      <div class="input-group">
        <h5>Page Title</h5>
        <label>This title is displayed on the top of the browser window.
          <input type="text" placeholder="home">
        </label>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button class="button success small">Save Changes</button> <button class="button primary small close">Close</button>
  </div>
</div>