<p id="leads-async" class="async-widget" data-aw-widget-callback="/dashboard/ajax/leads"> 
  <span class="jumbo-stat">999</span><br>
  <span class="title">Leads Generated</span><br>
  <span class="period">in the past year&nbsp;<i data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p><strong>Where are my leads?</strong></p><p>For privacy reasons, we cannot store the names of the leads generated. Any lead generated through a form in our platform is sent to your email inbox. If you have integrated with Redtail or Salesforce, the lead has been sent to those accounts. We cannot track any third party forms.</p>" class="glyphicons circle_info what-are-leads"></i></span>
</p>