<div id="webinars-async" data-aw-widget-callback="/dashboard/ajax/webinars" class="async-widget">
  <table id="upcoming-webinars" class="responsive" data-striping="1">
    <tbody>
      <tr class="odd">
        <td></td>
        <td>Dashboard group training</td>
        <td>Weekly</td>
        <td><a href="https://attendee.gotowebinar.com/rt/1160822962698137346?source=dashboard" title="Dashboard group training" class="btn btn-primary btn-xs">RSVP</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="more-link"><a href="https://advisorwebsites.com/resources/events" target="_blank">See more webinars</a><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></div>