<ul class="clearing-thumbs" data-clearing>
  <li><a href="{{ foundation.images }}examples/launch.jpg"><img src="{{ foundation.images }}examples/launch-th-sm.jpg"></a></li>
  <li><a href="{{ foundation.images }}examples/launch.jpg"><img src="{{ foundation.images }}examples/launch-th-sm.jpg"></a></li>
  <li><a href="{{ foundation.images }}examples/launch.jpg"><img src="{{ foundation.images }}examples/launch-th-sm.jpg"></a></li>
</ul>

<ul class="clearing-thumbs clearing-feature" data-clearing>
  <li><a href="{{ foundation.images }}examples/launch.jpg"><img src="{{ foundation.images }}examples/launch.jpg"></a></li>
  <li class="clearing-featured-img"><a href="{{ foundation.images }}examples/launch.jpg"><img src="{{ foundation.images }}examples/launch-th-sm.jpg"></a></li>
  <li><a href="{{ foundation.images }}examples/launch.jpg"><img src="{{ foundation.images }}examples/launch.jpg"></a></li>
</ul>