<div class="demo">
  <div class="row">
    <div class="large-2 columns">2</div>
    <div class="large-22 columns">22</div>
  </div>
  <div class="row">
    <div class="large-2 columns">2</div>
    <div class="large-20 large-offset-2 columns">20, offset 2</div>
  </div>
  <div class="row">
    <div class="large-2 columns">2</div>
    <div class="large-18 large-offset-4 columns">18, offset 4</div>
  </div>
  <div class="row">
    <div class="large-2 columns">2</div>
    <div class="large-16 large-offset-6 columns">16, offset 6</div>
  </div>
</div>