<div class="demo">
  <div class="row">
    <div class="medium-6 columns">6</div>
    <div class="medium-6 columns">6</div>
    <div class="medium-6 columns">6</div>
  </div>
  <div class="row">
    <div class="medium-6 columns">6</div>
    <div class="medium-6 columns">6</div>
    <div class="medium-6 columns end">6 end</div>
  </div>
</div>