<div class="demo">
  <div class="row">
    <div class="small-6 small-centered columns">3 centered</div>
  </div>
  <div class="row">
    <div class="small-12 large-centered columns">6 centered</div>
  </div>
  <div class="row">
    <div class="small-18 small-centered large-uncentered columns">18 centered</div>
  </div>
  <div class="row">
    <div class="small-11 small-centered columns">11 centered</div>
  </div>
</div>