<div class="row">
  <div class="columns small-24">
    <div class="row-table" data-equalizer="1">
      <div class="column-first" data-equalizer-watch="1">
        <div class="node-info">
          <h5>
            <a href="#" data-node="5" data-reveal-id="content-preview">
              Is watching people sharpen pencils therapeutic?
            </a>
          </h5>
          <p class="properties">
            <span class="type">article</span> added on <time datetime="2015-10-05">October 5</time><br />
            <span> Premium Content </span>
          </p>
          <span class="tag label label-default">
            <i class="fi-price-tag" aria-hidden="true"></i>
            <span class="value">Education</span>
          </span>
        </div>
      </div>
      <div class="column-last" data-equalizer-watch="1">
        <div>
          <a href="http://d8platform:2526/node/add/blog?node=5" class="button split tiny">New Blog Post<span data-dropdown="drop-5" aria-expanded="false"></span></a>
          <ul id="drop-5" class="f-dropdown" data-dropdown-content="" aria-hidden="true">
            <li><a href="http://d8platform:2526/node/add/page?node=5">New Page</a></li>
                 
            <li><a href="https://support.advisorwebsites.com/hc/en-us/articles/202159954-What-is-the-Periodical-Content-Library-and-How-Do-I-Utilize-It-On-My-Website-">Need Help?</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row-table" data-equalizer="2">
      <div class="column-first" data-equalizer-watch="2">
        <div class="node-info">
          <h5>
            <a href="#" data-node="5" data-reveal-id="content-preview">
              Philips or Robertson? Which Screwdriver is right for you?
            </a>
          </h5>
          <p class="properties">
            <span class="type">article</span> added on <time datetime="2015-10-05">October 5</time><br />
            <span> Premium Content </span>
          </p>
          <span class="tag label label-default">
            <i class="fi-price-tag" aria-hidden="true"></i>
            <span class="value">Education</span>
          </span>
        </div>
      </div>
      <div class="column-last" data-equalizer-watch="2">
        <div>
          <a href="http://d8platform:2526/node/add/blog?node=5" class="button split tiny">New Blog Post<span data-dropdown="drop-5" aria-expanded="false"></span></a>
          <ul id="drop-5" class="f-dropdown" data-dropdown-content="" aria-hidden="true">
            <li><a href="http://d8platform:2526/node/add/page?node=5">New Page</a></li>
                 
            <li><a href="https://support.advisorwebsites.com/hc/en-us/articles/202159954-What-is-the-Periodical-Content-Library-and-How-Do-I-Utilize-It-On-My-Website-">Need Help?</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row-table" data-equalizer="3">
      <div class="column-first" data-equalizer-watch="3">
        <div class="node-info">
          <h5>
            <a href="#" data-node="5" data-reveal-id="content-preview">
              Do rabbits make better financial advisors than ducks?
            </a>
          </h5>
          <p class="properties">
            <span class="type">article</span> added on <time datetime="2015-10-05">October 5</time><br />
            <span> Premium Content </span>
          </p>
          <span class="tag label label-default">
            <i class="fi-price-tag" aria-hidden="true"></i>
            <span class="value">Education</span>
          </span>
        </div>
      </div>
      <div class="column-last" data-equalizer-watch="3">
        <div>
          <a href="http://d8platform:2526/node/add/blog?node=5" class="button split tiny">New Blog Post<span data-dropdown="drop-5" aria-expanded="false"></span></a>
          <ul id="drop-5" class="f-dropdown" data-dropdown-content="" aria-hidden="true">
            <li><a href="http://d8platform:2526/node/add/page?node=5">New Page</a></li>
                 
            <li><a href="https://support.advisorwebsites.com/hc/en-us/articles/202159954-What-is-the-Periodical-Content-Library-and-How-Do-I-Utilize-It-On-My-Website-">Need Help?</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row-table" data-equalizer="4">
      <div class="column-first" data-equalizer-watch="4">
        <div class="node-info">
          <h5>
            <a href="#" data-node="5" data-reveal-id="content-preview">
              In Article Title
            </a>
          </h5>
          <p class="properties">
            <span class="type">article</span> added on <time datetime="2015-10-05">October 5</time><br />
            <span> Premium Content </span>
          </p>
          <span class="tag label label-default">
            <i class="fi-price-tag" aria-hidden="true"></i>
            <span class="value">Education</span>
          </span>
        </div>
      </div>
      <div class="column-last" data-equalizer-watch="4">
        <div>
          <a href="http://d8platform:2526/node/add/blog?node=5" class="button split tiny">New Blog Post<span data-dropdown="drop-5" aria-expanded="false"></span></a>
          <ul id="drop-5" class="f-dropdown" data-dropdown-content="" aria-hidden="true">
            <li><a href="http://d8platform:2526/node/add/page?node=5">New Page</a></li>
                 
            <li><a href="https://support.advisorwebsites.com/hc/en-us/articles/202159954-What-is-the-Periodical-Content-Library-and-How-Do-I-Utilize-It-On-My-Website-">Need Help?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>