<ul class="small-block-grid-2 medium-block-grid-5">
  <li>{{> atoms-content-type }}</li>
  <li>{{> atoms-content-type }}</li>
  <li>{{> atoms-content-type }}</li>
  <li>{{> atoms-content-type }}</li>
  <li>{{> atoms-content-type }}</li>
  <li>{{> atoms-content-type }}</li>
  <li>{{> atoms-content-type }}</li>
  <li>{{> atoms-content-type }}</li>
  <li>{{> atoms-content-type }}</li>
</ul>