<h3 class="panel-title">Latest Updates</h3>
<div id="updates-async" data-aw-widget-callback="/dashboard/ajax/updates" class="async-widget">
  <table class="responsive">
    <thead>
      <tr>
        <th class="" scope="col"></th>
        <th id="" class="" scope="col">
              <a href="" title="sort by Title">Title</a>
        </th>
        <th id="" class="" scope="col">
              <a href="" title="">Content Type</a>
        </th>
        <th class="" id="" scope="col">
              Author
        </th>
        <th id="" class="" scope="col">
              <a href="" title="sort by Status">Status</a>
        </th>
        <th class="" id="" scope="col">
              <a href="" title="sort by Updated">Updated</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td colspan="6" class="views-empty">
            No content available.
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="more-link"><a href="/dashboard/content">See more recent updates</a></div>
</div>