<ul class="icons inline-list">
	<li class="fi-social-twitter"></li>
	<li class="fi-social-facebook"></li>
	<li class="fi-social-stumbleupon"></li>
	<li class="fi-social-linkedin"></li>
	<li class="fi-social-pinterest"></li>
	<li class="fi-social-google-plus"></li>
	<li class="fi-social-youtube"></li>
	<li class="fi-social-feed"></li>
	<li class="fi-social-search"></li>
	<li class="fi-social-play"></li>
</ul>