<div class="content-type service">
  <p class="text-center">
    <a>{{> atoms-landscape-16x9 }}
      <span>Lead Gen Light</span>
    </a>
  </p>
  <p>
    <strong>$175 / month + $999 setup</strong>
  </p>
  <p>
    The most successful companies are using inbound marketing automation to generate revenue.
  </p>
</div>