<tr>
  <td class="draghandle-cell">
    <span>
      <i class="fi-arrows-out rotate-45"></i>
    </span>
  </td>
  <td class="headshot-cell">
    <span>
     <img src="http://lorempixel.com/200/300/cats">
    </span>
  </td>
  <td class="bio-cell">
    <span>
      <h5 class="title"><a href="#">Felix the cat</a></h5>
      <p class="description">Actually salvia selvage cardigan paleo. Lomo XOXO semiotics, fanny pack Truffaut banjo seitan vinyl keffiyeh. Disrupt migas food truck small batch, authentic High Life American Apparel Marfa semiotics beard Williamsburg bitters gentrify. Direct trade post-ironic McSweeney's, banh mi gastropub pork belly retro typewriter DIY bespoke crucifix organic meggings pop-up. </p>
    </span>
  </td>
  <td class="workflow-cell">
    <span>
      <h5 class="workflow-state success">Published</h5>
      <div class="update-state"><span>Updated: </span><time timedate="2015-03-12">March 12, 2015</time></div>
      <div><a href="#">Edit</a> <a href="#">Delete</a></div>
    </span>
  </td>
</tr>