<ul class="small-block-grid-3">
  <li>
    {{> atoms-square }}
  </li>
  <li>
    {{> atoms-square }}
  </li>
  <li>
    {{> atoms-square }}
  </li>
</ul>

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li>
    {{> atoms-square }}
  </li>
  <li>
    {{> atoms-square }}
  </li>
  <li>
    {{> atoms-square }}
  </li>
  <li>
    {{> atoms-square }}
  </li>
  <li>
    {{> atoms-square }}
  </li>
  <li>
    {{> atoms-square }}
  </li>
</ul>