<div class="row">
<div class="columns large-24 small-24">
<h1> User Dashboard </h1>
</div>
</div>
<div class="row" data-equalizer="top">
  <div class="columns large-8 medium-12 small-24">
    <div class="panel" data-equalizer-watch="top">
      {{> atoms-did-you-know }}
    </div>
  </div>
  <div class="columns large-8 medium-12 small-24 "><div class="panel" data-equalizer-watch="top"> {{> atoms-leads-generated }}</div></div>
  
  <div class="columns large-8 medium-8 small-24" ><div class="panel" data-equalizer-watch="top">{{> atoms-unique-visitors }}</div></div>
  <div class="columns large-24 medium-16 small-24"><div class="panel">{{> atoms-unique-visitors }}</div></div>
</div>
<div class="row">
  <div class="columns medium-12"><div class="panel">{{> atoms-latest-updates }}</div></div>
  <div class="columns medium-12"><div class="panel">{{> atoms-upcoming-webinars }}</div></div>
</div>
<div class="row">
  <div class="columns medium-6">{{> molecules-panels }}</div>
  <div class="columns medium-6">{{> molecules-panels }}</div>
  <div class="columns medium-6">{{> molecules-panels }}</div>
  <div class="columns medium-6">{{> molecules-panels }}</div>
</div>