<div class="row">
  <div class="aw-section-top">
    <div class="row collapse">
      <div class="columns small-centered small-24 medium-12 large-8 headings-centered ">
        <h3> Merry Christmas, Chris. </h3>
        <h2>Your Websites</h2>
        {{> atoms-select-menu }}
        <div class="text-center">
            <a href="#" class="button small">Edit Website</a>
            <a href="#" class="button small secondary" id="manage-editors-button">Manage Editors</a>
            <a href="#" class="button small secondary" id="account-settings-button">Account Settings</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" data-equalizer="top">
  <div class="columns large-8 medium-12 small-24">
    <div class="panel header" data-equalizer-watch="top">
      <header>
        <h4> Statistics </h4>
      </header>
    </div>
  </div>
  <div class="columns large-8 medium-12 small-24 ">
    <div class="panel header" data-equalizer-watch="top">
      <header>
        <h4> Content Status </h4>
      </header>
      <div class="content-status-table">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <h6><a href="#">Title of the content is a link</a></h6>
                <p class="description"> This is a description of the content. </p>
              </td>
              <td>
                <span class="label success">Published</span>
              </td>
            </tr>
            <tr>
              <td>
                <h6><a href="#">Title of the content is a link</a></h6>
                <p class="description"> This is a description of the content. </p>
              </td>
              <td>
                <span class="label info">Draft</span>
              </td>
            </tr>   
            <tr>
              <td>
                <h6><a href="#">Title of the content is a link</a></h6>
                <p class="description"> This is a description of the content. </p>
              </td>
              <td>
                <span class="label alert">Rejected</span>
              </td>
            </tr>   
            <tr>
              <td>
                <h6><a href="#">Title of the content is a link</a></h6>
                <p class="description"> This is a description of the content. </p>
              </td>
              <td>
                <span class="label warning">In review</span>
              </td>
            </tr>   
            <tr>
              <td>
                <h6><a href="#">Title of the content is a link</a></h6>
                <p class="description"> This is a description of the content. </p>
              </td>
              <td>
                <span class="label success">Published</span>
              </td>
            </tr>   
          </tbody>
        </table>
      </div>
    </div>
   </div>
  
  <div class="columns large-8 medium-8 small-24" >
    <div class="panel header" data-equalizer-watch="top">
      <header>
        <h4> Comments & Form Entries </h4>
      </header>
    </div>
  </div>
</div>
