<div class="panel header">
  <header><h5>This is a title.</h5></header>
  <p>Did you know that Advisor Websites integrates with other companies?</p>
</div>

<div class="panel">
  <header><h5>This is a title.</h5></header>
  <p>Did you know that Advisor Websites integrates with other companies?</p>
</div>