<section class="banner content-library" data-interchange="[/images/content-lib-banner-sml.jpg, (default)], [/images/content-lib-banner-med.jpg, (medium)], /images/content-lib-banner-sml@2x.jpg, (default, retina)], [/images/content-lib-banner-med.jpg, (medium, retina)]">
  <div>
    <h1><small>Advisor Websites</small><br /> Content Library</h1>
    <div>
      {{> atoms-button-custom }}
    </div>
  </div>
</section>