<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-white"></span>
		<span class="sg-label">$white</span>
	</li>
	<li>
		<span class="sg-swatch background-ghost"></span>
		<span class="sg-label">$ghost</span>
	</li>
	<li>
		<span class="sg-swatch background-snow"></span>
		<span class="sg-label">$snow</span>
	</li>
	<li>
		<span class="sg-swatch background-vapor"></span>
		<span class="sg-label">$vapor</span>
	</li>
	<li>
		<span class="sg-swatch background-white-smoke"></span>
		<span class="sg-label">$white-smoke</span>
	</li>
	<li>
		<span class="sg-swatch background-silver"></span>
		<span class="sg-label">$silver</span>
	</li>
	<li>
		<span class="sg-swatch background-smoke"></span>
		<span class="sg-label">$smoke</span>
	</li>
	<li>
		<span class="sg-swatch background-iron"></span>
		<span class="sg-label">$iron</span>
	</li>
	<li>
		<span class="sg-swatch background-base"></span>
		<span class="sg-label">$base</span>
	</li>
	<li>
		<span class="sg-swatch background-aluminum"></span>
		<span class="sg-label">$aluminum</span>
	</li>
	<li>
		<span class="sg-swatch background-jumbo"></span>
		<span class="sg-label">$jumbo</span>
	</li>
	<li>
		<span class="sg-swatch background-monsoon"></span>
		<span class="sg-label">$monsoon</span>
	</li>
	<li>
		<span class="sg-swatch background-steel"></span>
		<span class="sg-label">$tuatara</span>
	</li>
	<li>
		<span class="sg-swatch background-charcoal"></span>
		<span class="sg-label">$tuatara</span>
	</li>
	<li>
		<span class="sg-swatch background-tuatara"></span>
		<span class="sg-label">$tuatara</span>
	</li>
	<li>
		<span class="sg-swatch background-oil"></span>
		<span class="sg-label">$oil</span>
	</li>
	<li>
		<span class="sg-swatch background-jet"></span>
		<span class="sg-label">$jet</span>
	</li>
	<li>
		<span class="sg-swatch background-black"></span>
		<span class="sg-label">$black</span>
	</li>
	<li>
		<span class="sg-swatch background-primary-color"></span>
		<span class="sg-label">$primary-color</span>
	</li>
	<li>
		<span class="sg-swatch background-secondary-color"></span>
		<span class="sg-label">$secondary-color</span>
	</li>
	<li>
		<span class="sg-swatch background-alert-color"></span>
		<span class="sg-label">$alert-color</span>
	</li>
	<li>
		<span class="sg-swatch background-success-color"></span>
		<span class="sg-label">$success-color</span>
	</li>
	<li>
		<span class="sg-swatch background-warning-color"></span>
		<span class="sg-label">$warning-color</span>
	</li>
	<li>
		<span class="sg-swatch background-info-color"></span>
		<span class="sg-label">$info-color</span>
	</li>
</ul>